*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #BF9CD7;
	font-family: Avenir Next, sans-serif;
	text-align: center;
	color: #a059d1;
	font-size: 20px;
}
h1 {
	font-size: 5em;
	color: #f8f2fc;
	text-shadow: .05em .05em #BF9CD7;
	line-height: 1.1;
	padding: 0 10px;
}
h2 {
	font-size: 2.5em;
	color: #f8f2fc;
	text-shadow: .1em .1em #5D1B0F;
}
h3,h4 {
	font-family: Avenir Next, sans-serif;
	color: #ffffff;

	letter-spacing: .2em;
	font-weight: bold;
}
h3 {
	font-size: 1.2em;
	padding-top: 1em;
	padding-bottom: .5em;
}
img {
	display: block; width: 100%;
}
p{
	padding-bottom: 1em;
	line-height: 1.5;
	font-size: .8em;
}
label{
	background-color: #a059d1;
	color:  #fbf7db;
	margin-top: .5em;
	padding: .5em;
}
span{
	color: #ffffff;
	text-shadow: .1em .1em #5D1B0F;
}
blurb{
	padding: 0 .2em;
	background-color: #fbf7db;
	color: #d0a6ed;
}
footer{
	color: #ffffff;
	font-size: .7em;
}
#hero {
	background: transparent url(../images/cover3.png) no-repeat center center;
	background-size: 100% auto;
	height: 56.25vw; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.navi{
  	color: white;
 	padding: .7em 1.25em;
  	text-align: center; 
 	text-decoration: none;
  	display: inline-block;
  	font-weight: bold;
}
.left,.right{
	width: 50%;
	float: left;
}
.left {
	position: sticky;-webkit-position:sticky; top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	padding-right: 0%;
}
#brain {
	background-color: black;
}
.social {
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
}
.clear:after{content:""; display: block; clear: both;}
#intro-content, #contact-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
	padding: 1em;
}
.intro-font{
	font-size: 1.75em;
	font-weight: bold;
	padding: 1em;
}
.project {
	padding-bottom: 3em;
}
.info-text {
	line-height: 2;
	padding: 1em;
}
.info-text blurb{
	background: #d0a6ed;
	color: #ffffff;
	font-size: 1em;
}
#hello{
	font-size: 1.3em;
}
.end {
	text-shadow: .1em .1em #5D1B0F;
}

@media screen and (max-width: 860px){
	h1 {
		font-size: 3em;
	}
	#hero {
		height: 70vh;
		background-size: cover;
	}
}
@media screen and (max-width: 768px){
	.left, .right {
		width: 100%;
		float: none;
	}
	.left {
		min-height: auto;
	}
	#brain {
		position: relative;
		-webkit-position: relative;
	}
	}

@media screen and (max-width: 410px){
	.navi {
		display: block;
	}
	h1 {
		font-size: 3em;
	}
	.intro-font{
		font-size: 1.6em;
		margin: 1em, 1em, 1.5em, 1.5em;
		padding: 1.2em;	
	}
	#hello {
		font-size: 1.3em;
	}
	}

