@import url('https://fonts.googleapis.com/css?family=Domine');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #E37A68;
	font-family: Avenir Next, sans-serif;
	text-align: center;
	color: #5D1B0F;
}
h1 {
	font-size: 40px;
	color: #f8f2fc;
	text-shadow: 3px 3px #5D1B0F;
}
h2 {
	font-size: 30px;
	color: #f8f2fc;
	text-shadow: 4px 4px #5D1B0F;
}
h3,h4 {
	font-family: Avenir Next, sans-serif;
	color: #ffffff;
	font-variant: small-caps;
	letter-spacing: .2em;
	font-weight: bold;
}
h3 {
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 10px;
}
img {
	display: block; width: 100%;
}
p{
	padding-bottom: 20px;
	line-height: 1.5;
	font-size: 16px;
}
label{
	background-color: #5D322B;
	color:  #fbf7db;
	margin-top: 10px;
	padding: 10px;
}
span{
	padding: 0 .2em;
	background-color: #fbf7db;
	color: #d0a6ed;
}
.left,.right{
	width: 50%;
	float: left;
}
.left {
	position: sticky;top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	padding-right: 40px;
}
.social {
	width: 25px;
	display: inline-block;
}
.clear:after{content:""; display: block; clear: both;}
#intro-content, #contact-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
}
.project {
	padding-bottom: 60px;
}
.info-text {
	background: #AA301B;
	color: #ffffff;
	display:  inline;
	line-height: 40px;
}